@media (min-width: 419px) {
  .theme-container .home .hero {
    img {
      margin-top: 1rem;
      margin-bottom: 0;
    }
    h1 {
      margin-top: 0;
      font-size: 2rem;
    }
  }
  .home .hero p.description {
    font-size: 1.4rem;
  }
}

@media (max-width: 419px) {
  .home .hero p.description {
    font-size: 1rem;
  }
  .theme-default-content div[class*="language-"] {
    font-size: 13px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .theme-default-content pre,
  .theme-default-content pre[class*="language-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 719px) {
  .home .features .feature {
    padding: 0 1.6rem;
  }
}

.theme-container .home td {
  vertical-align: top;
  img {
    height: auto !important;
  }
}